<div class="contactManager">
  <div class="contacts">
    <h2>Contacts</h2>
    <p>Securely store and manage your Contacts for variuos relatives.</p>
    <form class="search">
      <textarea
        ng-model="nameFilter"
        id="query"
        placeholder="Name of person"
      ></textarea>
    </form>
    <table>
      <tr>
        <td>Name</td>
        <td>Contact</td>
        <td>Email</td>
        <td>Actions</td>
      </tr>

      <tr
        ng-repeat="contact in contacts | filter: {Name: nameFilter} | orderBy: 'Name'"
        ng-if="contacts.length > 0"
      >
        <td>{{ contact.Name }}</td>
        <td>{{ contact.Phone }}</td>
        <td>{{ contact.Email }}</td>
        <td>
          <button type="button" id="editContact" ng-click="toggleContactModify(contact)">Edit</button>
          <button type="button" id="deleteContact" ng-click="deleteContact(contact,$event)">Delete</button>
        </td>
      </tr>

      <tr
        ng-if="contacts.length == 0"
        ng-style="{background-color: messageColor}"
      >
        <td colspan="4">{{message}}</td>
      </tr>
    </table>
    <button ng-click="toggleContact()" class="add-button">Add New Contact</button>
  </div>
</div>

<dialog id="ContactForm">
  <form ng-save="saveContact()">
    <h2>New Contact</h2>
    <p>Manage your contacts securely and efficiently.</p>
    <label for="name">Name:</label>
    <input type="text" id="name" ng-model="nameData" required placeholder="Full Name" />

    <label for="phone">Phone:</label>
    <input
      type="tel"
      id="phone"
      ng-model="phoneData"
      required
      placeholder="Phone Number"
    />

    <label for="email">Email:</label>
    <input
      type="email"
      id="email"
      ng-model="emailData"
      required
      placeholder="Email Address"
    />

    <button id="save" type="submit" ng-click="saveContact()">Submit</button>
    <button id="close" type="button" ng-click="toggleContact()">X</button>
  </form>
</dialog>

<dialog id="ContactModify">
  <form>
    <h2>Modify Contact</h2>
    <p>Update your contact information securely for {{currentName}}</p>
    
    <label for="phone">Phone:</label>
    <input
      type="tel"
      id="phone"
      ng-model="newPhone"
      required
      placeholder="Phone Number"
    />
    <button id="save" type="button" ng-click="modifyContact()">Submit</button>
    <button id="close" type="button" ng-click="toggleContactModify()">X</button>
  </form>
</dialog>
