<div class="passwordManager">
  <h2>Passwords Manager</h2>
  <p>Securely store and manage your passwords for variuos websites.</p>
  <br />

  <form class="search">
    <textarea
      ng-model="PasswordQuery"
      id="query"
      placeholder="write something to search"
    ></textarea>
  </form>

  <h3>Passwords</h3>

  <table>
    <tr>
      <th>Website</th>
      <th>Username</th>
      <th>Password</th>
      <th>Actions</th>
    </tr>

    <tr
      ng-repeat="password in passwords | filter: { Website: PasswordQuery }"
            ng-if="passwords.length > 0"
    >
      <td>{{password.Website}}</td>
      <td>{{password.UserName}}</td>
      <td>{{password.Password}}</td>
      <td>
        <button class="actionButton" ng-click="deletePassword(password,$event)">Delete</button>
      </td>
    </tr>

    <tr
      ng-if="passwords.length == 0"
      ng-style="{background-color: messageColor}"
    >
      <td colspan="4">{{message}}</td>
    </tr>
  </table>

  <button type="button" ng-click="togglepassword()" class="add-button">
    Add New Password
  </button>
</div>

<dialog id="PasswordForm">
  <form ng-save="UploadPassword()">
    <h2>Password</h2>
    <p>Manage your passwords securely and efficiently.</p>
    <label for="name">Username:</label>
    <input
      type="text"
      id="name"
      ng-model="usernameData"
      required
      placeholder="Full Name"
    />

    <label for="phone">Password:</label>
    <input
      type="tel"
      id="phone"
      ng-model="passwordData"
      required
      placeholder="password"
    />

    <label for="email">Website:</label>
    <input
      type="text"
      id="email"
      ng-model="websiteData"
      required
      placeholder="Web Address"
    />

    <button id="save" type="submit" ng-click="UploadPassword()">Submit</button>
    <button id="close" type="button" ng-click="togglepassword()">Cancel</button>
  </form>
</dialog>

